:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

body {
  font-family: "Bai Jamjuree";
  font-size: 18px;
  margin: 0px;
  min-height: 100vh;
  box-sizing: border-box;
  max-width: 1440px;
  align-content: center;
  box-sizing: border-box;
}

header {
  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  padding-top: 130px;
  text-align: center;
}

.logo {
  text-align: center;
}

main {
  padding: 0px 164px;
}

.excerpt {
  font-size: 20px;
  font-weight: 400;
  color: var(--Grayish-Blue);
  max-width: 60ch;
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 46px;
}

.subtitle {
  font-size: 36px;
  font-weight: 600;
  color: var(--Dark-Grayish-Blue);
  margin: 0px;
}

.property-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--Dark-Grayish-Blue);
}

.property-excerpt {
  font-size: 16px;
  color: var(--Grayish-Blue);
  margin: 0px;
  margin-bottom: 64px;
  width: 34ch;
}

.history {
  text-align: center;
  padding: 68px 0px 140px 0px;
}

.history-title {
  font-size: 46px;
  font-weight: 600;
  margin: 0px;
  color: var(--Dark-Grayish-Blue);
}

.history-excerpt {
}

.button {
  font-size: 19px;
  color: white;
  width: 226px;
  height: 54px;
  border-radius: 26px;
  border: none;
}

.button-ios {
  background-color: var(--Strong-Cyan);
}

.button-mac {
  background-color: var(--Light-Blue);
}

.snippets {
  text-align: center;
  padding: 0px 0px 140px 0px;
}

.snippets-properties {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6em;
  text-align: left;
  padding: 76px 0px;
}

.snippets-image {
  height: 571px;
  width: 720px;
  text-align: left;
  margin-left: -192px;
}

.property-title {
  padding: 20px 0px;
  margin: 0px;
}

.access {
  text-align: center;
  padding: 0px 0px 140px 0px;
}

.access-image {
  padding-top: 115px;
}

.workflow {
  text-align: center;
  padding: 0px 0px 140px 0px;
}

.workflow-properties {
  display: flex;
  padding: 78px 0px 200px 0px;
}

.workflow-excerpt {
  margin: 0px;
}

.workflow-logos {
  display: flex;
  justify-content: space-between;
}

.clipboard {
  text-align: center;
  padding: 0px 0px 140px 0px;
}

.clipboard-excerpt {
}

footer {
  padding-top: 48px;
  padding-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--Grayish-Blue);
}

.footer-logo {
  max-width: 56px;
  width: 100%;
  height: auto;
}
